<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <div class="header">

        </div>
        <div class="container">
            <div class="row row-button">
                
                <input type="text" placeholder="Cerca una task" v-model="findTask">
                
            </div>
            <div class="row">
                <ul class="lista">
                    <li 
                     v-for="(item,index) in filterTask()" 
                     :class="{done : item.check }" 
                     @click="item.check = !item.check"    >
                        {{item.text}}    
                        <button class="delete" @click="deleteItems(index)">&cross;</button>
                    </li>
                </ul>
                <div class="newtaskquestion" v-show="addTaskQuestion">
                    <h1>Vuoi aggiungere la nuova task?</h1>
                    <button @click="addTask">Add Task</button>
                    <h3>Clicca sul bottone per aggiungere la nuova task</h3>
                </div>
            </div>

        </div>
    </div>
    <!-- LINK VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- LINK JS -->
    <script src="./main.js"></script>
</body>
</html>