*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}
#app{
    height: 100vh;
    width: 100%;
    padding-top: 100px;
}
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: blue;
    text-align: center;
    color: gray;
}
.container{
    height: 80%;
    width: 80%;
    border-radius: 20px;
    margin: auto ;
    background-color: aliceblue;

}
.row-button{
    height: 50px;
    padding: 0 20px ;
    
    border-radius: 20px 20px 0 0;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row-button input{
    height: 30px;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 10px ;
    color: blue;
    background-color:  rgba(0, 0, 0, 0);
    text-align: center;
    width: 50%;
    font-size: large;
    

}

.lista{
   list-style: none; 
   width: 100%;
   
   margin:   10px 0;
   padding: 10px;
}
.lista li{
    padding: 5px;
    margin: 5px 0;
    border:  1px solid blue;
    border-radius: 5px;
    position: relative;
    text-align: center;
    font-size: larger;
}

.lista .done{
    text-decoration: line-through;
    border-color: green;
}
.lista li button{
    border: 1px solid blue;
    padding: 0 5px;
    border-radius: 5px ;
    color: blue;
    background-color:  rgba(0, 0, 0, 0);
    height: 20px;
    position: absolute;
    right: 5px;
    z-index: 5;
}
.lista li button:hover{
    background-color:  rgba(255, 1, 1, 1);

}




.newtaskquestion{
    text-align: center;
    color: gray;
    
}
.newtaskquestion button{
    height: 30px;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 10px ;
    color: blue;
    background-color:  rgba(0, 0, 0, 0);
}